.topnav {
    width: 60%;
    background-color: #555;
    overflow: auto;
  }
  
  .topnav a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; 
    text-align: center; 
  }
  
  .topnav a:hover {
    background-color: #000;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
  }
#X{
    line-height: 12px;
     width: 18px;
     text-align: center;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
     color: white;
     background-color: black;
}

#modalDialog{
    font-family: 'Jaldi';
    font-size: large;
    background-color: aqua;
    width: 60%;
    height: 60%;
}

body{
    font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #1f2029;
  	background-color: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 101%;
}